body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#valgBoks{
    width: 40vw;
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
button{
    width: 20vw;
    height: 10vh;
    border-radius: 25px;
    font-size: 1.5rem;
    cursor: pointer;
}