body{
    margin: 0;
    background-color: #121212;
    color: #fff;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #35385c;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #2b2e4d;
}

.album-container {
    max-width: 70vw;
    margin: 20px auto;
    padding: 20px;
}

.album-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.album-cover {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-right: 20px;
}

.album-details {
    flex: 1;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: normal;
}

#album-label {
    font-size: 1rem;
    text-transform: uppercase;
    color: #b3b3b3;
    margin-bottom: 8px;
}

#album-title {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    margin: 0 0 10px 0;
}

.album-meta {
    font-size: 1rem;
    color: #b3b3b3;
    margin-bottom: 20px;
}

.album-actions {
    display: flex;
    gap: 10px;
}

.play-button, .shuffle-button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #35385c;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.play-button:hover, .shuffle-button:hover {
    background-color: #2b2e4d;
}

.tracklist table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: "adobe-caslon-pro", serif;
}

.tracklist th, .tracklist td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #282828;
}

.tracklist th {
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 12px;
}

.tracklist tbody tr:hover {
    background-color: #282828;
}

.tracklist td {
    font-size: 1rem;
}